<<<<<<< HEAD
body {
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    text-align: ;
=======
h1 {
    text-align: center;
>>>>>>> 75aef92c4cd0f8ba01052ff35639acc13f4ae8fd
}

ul li {
    display: inline-block;
    padding: 20px;
    margin-top: 2px;
    border: 1px solid black;
<<<<<<< HEAD
}

table,
td {
    border: 1px solid #333;
    text-align: center;
    padding: 6px;
}

#italic {
    font-style: italic;
=======
>>>>>>> 75aef92c4cd0f8ba01052ff35639acc13f4ae8fd
}