.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding {
      padding: 20px;
  
  }
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  .margin {
      margin: 30px;
  
  }
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border {
      border: 5px solid black;    
  }

  .super-mario {
    width: 200px;
    position: absolute;
    top: 280px;
    left: 100px;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 580px;
    left: 150px;
    z-index: 2;
  }
  
  .baloon {
    width: 200px;
    position: absolute;
    top: 380px;
    left: 350px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    width: 200px;
    position: absolute;
    top: 380px;
    left: 345px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 500px;
    left: 550px;
    z-index: 5;
  }

  h1, p, li {
      text-align: center;
  }

  li:hover {
      background-color: #b5838d;
      width: 200px;
      height: 30px;
      margin: auto;
  }

  li:active {
      color: #6d6875;
  }

  ul, ol {
      list-style: none;
  }

  div:hover {
      background-color: #6d6875;
      border: 2px solid #b5838d;
  }

  .paleta1 {
      color: #000000;
  }

  .paleta2 {
      color: #14213d;
  }
  
  .paleta3 {
      color: #fca311;
  }

  .italic {
      font-style: italic;
  }

